#include "windows.h"
#include "resources.h"

1 MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open File...\tCtrl+O",IDM_OPEN
    MENUITEM SEPARATOR
    MENUITEM "&Print...\tCtrl+P",IDM_PRINT
    MENUITEM SEPARATOR
    MENUITEM "E&xit\tCtrl+Q",IDM_EXIT
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Fullscreen\tF11", IDM_FULLSCREEN
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About...\tF1", IDM_ABOUT
  END
END
